   
@media (max-width: 1170px) and (min-width: 992px){
    #main-header {
    background-image: url(../image/man-2.jpg);
    height: 70vh;  
    }
    
    #main-header .header-caption {
    top: 10%;
    left: 60%;
    }
}
    
@media (max-width: 992px) {
    #main-header {
    background-image: url(../image/man-1.jpg);
    height: 50vh;
    } 
}

@media (max-width: 992px) {
    #main-header .header-caption {
    color: black;
    top: 100%;
    left: 40%;
    }
}